<div>
  <mat-toolbar color="primary">
    Add Invoice
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
      <!-- TODO - HIDE THIS if you are in the add class popup -->
      <mat-form-field>
        <mat-select [(ngModel)]="classInvoice.class1">
          <mat-option *ngFor="let cs of classList" [value]="cs">{{cs.name}}</mat-option>
        </mat-select>
        <mat-placeholder>Course</mat-placeholder>
      </mat-form-field>
      <br>

      <mat-form-field>
        <input [(ngModel)]="classInvoice.name" matInput placeholder="Name">
      </mat-form-field>
      <br>

      <mat-form-field>
        <input [(ngModel)]="classInvoice.invoice_amount" matInput placeholder="Amount">
      </mat-form-field>

      <div class="submit">
        <!-- which submit -->
        <button (click)="closeDialog()" mat-raised-button color="warn">Cancel</button>
        &nbsp;
        <button (click)="postClassInvoice()" mat-raised-button color="primary">Submit</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
