<app-loader></app-loader>
<div>
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input [(ngModel)]="course.name" matInput placeholder="Name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select [(ngModel)]="course.school">
          <mat-option *ngFor="let sch of schoolList" [value]="sch">{{sch.name}}</mat-option>
        </mat-select>
        <mat-placeholder>School</mat-placeholder>
      </mat-form-field>

      <div class="submit">
        <!-- which submit -->
        <button (click)="closeDialog()" mat-raised-button color="warn">Cancel</button>
        &nbsp;
        <button (click)="postCourse()" mat-raised-button color="primary">Submit</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
