<app-loader></app-loader>
<mat-vertical-stepper [linear]="isLinear" #stepper>

  <mat-step>
    <ng-template matStepLabel>Details</ng-template>
    <mat-card-content>
      <mat-form-field>
        <input [(ngModel)]="course.name" matInput placeholder="Name">
      </mat-form-field>

      <div class="submit">
        <!-- which submit -->
        <button (click)="closeDialog()" mat-raised-button color="warn">Cancel</button>
        &nbsp;
        <button (click)="postCourse()" mat-raised-button color="primary">Submit</button>
      </div>
    </mat-card-content>
  </mat-step>

  <mat-step *ngIf="course.id > 0">
    <ng-template matStepLabel>Subjects</ng-template>
    <mat-card-content *ngFor="let sub of course.subjects">
      <mat-form-field>
        <input [(ngModel)]="sub.name" matInput placeholder="Name">
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <input [(ngModel)]="sub.pass_mark" matInput placeholder="Pass mark">
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <input [(ngModel)]="sub.subjectCode" matInput placeholder="Code">
      </mat-form-field>
      <div>
        <button (click)="postSubject(sub)" mat-raised-button color="primary">Submit</button>
      </div>
    </mat-card-content>
    <button (click)="addSubject()" mat-button>Add subject</button>
  </mat-step>

</mat-vertical-stepper>
