<app-loader></app-loader>
<mat-vertical-stepper [linear]="isLinear" #stepper>

  <mat-step>
    <ng-template matStepLabel>Details</ng-template>
    <mat-card-content>
      <mat-form-field>
        <input [(ngModel)]="course.name" matInput placeholder="Name">
      </mat-form-field>

      <div class="submit">
        <!-- which submit -->
        <button (click)="closeDialog()" mat-raised-button color="warn">Cancel</button>
        &nbsp;
        <button (click)="postCourse()" mat-raised-button color="primary">Submit</button>
      </div>
    </mat-card-content>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Subjects</ng-template>
    <mat-card-content>

    </mat-card-content>
  </mat-step>

</mat-vertical-stepper>
