<app-loader></app-loader>
<mat-vertical-stepper [linear]="isLinear" #stepper>


  <mat-step>
    <ng-template matStepLabel>Class Details</ng-template>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="class1.start_date" matInput [min]="minDate"
               [max]="maxDate" [matDatepicker]="picker1" placeholder="Start date"
               (dateChange)="startDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="class1.end_date" matInput [min]="minDate"
               [max]="maxDate" [matDatepicker]="picker2" placeholder="End date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input [(ngModel)]="class1.name" matInput placeholder="Name">
      </mat-form-field>
    </mat-card-content>
    <div>
      <button (click)="postClass()" mat-raised-button color="primary">Submit</button>
    </div>
  </mat-step>

  <mat-step *ngIf="course !== undefined && class1.id !== null">
    <ng-template matStepLabel>Class Subjects</ng-template>
    <app-class-subject [_course]="course" [_class]="class1"></app-class-subject>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Class Fee Invoice</ng-template>
    <mat-card-content *ngFor="let cl of class1.classInvoices">
      <mat-form-field>
        <input [(ngModel)]="cl.name" matInput placeholder="Name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input [(ngModel)]="cl.invoice_amount" matInput placeholder="Amount">
      </mat-form-field>
      <br>
      <div *ngIf="cl.invoice_date !== null && cl.invoice_date !== ''">
        <mat-form-field>
          <input [ngModel]="cl.invoice_date.substring(0, 10)" matInput placeholder="Invoice Date" disabled="disabled">
        </mat-form-field>
      </div>
      <div class="submit">
        <!-- TODO -remove invoice -->
        <button (click)="removeInvoice(cl)" mat-raised-button color="warn">Remove</button>
        &nbsp;
        <button (click)="postClassInvoice(cl)" mat-raised-button color="primary">Submit</button>
      </div>
    </mat-card-content>
    <button (click)="addInvoice()" mat-button>Add invoice</button>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Streams</ng-template>
    <mat-card-content *ngFor="let cs of class1.streams">
      <mat-form-field>
        <input [(ngModel)]="cs.name" matInput placeholder="Name">
      </mat-form-field>
      <div>
        <button (click)="postStreamm(cs)" mat-raised-button color="primary">Submit</button>
      </div>
    </mat-card-content>
    <button (click)="addStreamm()" mat-button>Add stream</button>
  </mat-step>
</mat-vertical-stepper>

