<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let sub of selectedSubjects"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(sub)">
      {{sub.subject.name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="New subject..."
      #subjectInput
      [formControl]="subjectCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let sub of filteredSubjects | async" [value]="sub">
      {{sub.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
