.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #eeeeee;
  /*border-right: #d7d7d7 1px solid;*/
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-form-field-flex {
  border-bottom: #4d4d4d;
  outline: none;
}
.mat-select {
  border-bottom: #4d4d4d;
  outline: none;
}
.mat-form-field-infix {
  border-bottom: #4d4d4d;
  outline: none;
}

