.sidenav-container {
  height: 100%;
}

.container_holder {
  margin-top: 3.98em;
}

.sidenav {
  width: 200px;
  background-color: #eeeeee;
  /*border-right: #d7d7d7 1px solid;*/
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-form-field-flex {
  border-bottom: #4d4d4d;
  outline: none;
}

.mat-select {
  border-bottom: #4d4d4d;
  outline: none;
}

.mat-form-field-infix {
  border-bottom: #4d4d4d;
  outline: none;
}

a:link {
  color:black;
}

a:hover {
  font-size:20px;
  font-weight:bold;
}

a:active {
  color:#ef6c00;
}

a:visited {

}

.logo {
  width: 172px;
  height: 51px;
  border-radius: 3px;
}

@media (min-width: 960px) {
  .logo {
    margin-left: -.73em;
  }
}

@media (max-width: 600px) {
  .container_holder{
    margin-top: 3em;
  }
}
