.main_container {
  display: inline-block;
  width: 95%;
  height: 100%;
  float: left;
}

.right_side_menu {
  display: inline-block;
  width: 5%;
  float: right;
  height: 100%;
  font-size: xx-small;
  min-height: 100vh;
  position: fixed;
}
