<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="filter" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
        <mat-menu #appMenu="matMenu" yPosition="above" style="margin-left: -1em">
          <app-main-filter (click)="$event.stopPropagation();"></app-main-filter>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>filter</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let element">

      </td>
    </ng-container>

    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Name
      </th>
      <td mat-cell *matCellDef="let element">
        {{element.user.first_name}} {{element.user.middle_name}} {{element.user.last_name}}
      </td>
    </ng-container>


    <ng-container *ngFor="let item of displayedColumns;let i = index">
      <ng-container *ngIf="item !== 'filter' && item !== 'icons' && item !== 'name'" matColumnDef={{item}}>

        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{item}}({{getPassMark(item)}})
        </th>
        <td mat-cell *matCellDef="let element">
          {{getSubjectResult(item, element)}}
        </td>

      </ng-container>
    </ng-container>


    <ng-container matColumnDef="icons" stickyEnd>
      <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>

      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon
            matTooltipPosition="above"
            matTooltipClass ="primary-tooltip"
            matTooltip="more">
            more_vert
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item >Menu</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
