<app-loader></app-loader>
<mat-vertical-stepper [linear]="isLinear" #stepper>

  <mat-step>
    <ng-template matStepLabel>Basic Details</ng-template>
    <mat-card-content>
      &nbsp;
      <mat-form-field>
        <input [(ngModel)]="user.first_name" matInput placeholder="First Name">
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <input [(ngModel)]="user.middle_name" matInput placeholder="Middle Name">
      </mat-form-field>
      &nbsp;
      <br>
      &nbsp;
      <mat-form-field>
        <input [(ngModel)]="user.last_name" matInput placeholder="Last Name">
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <mat-select [(ngModel)]="user.role">
          <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
        </mat-select>
        <mat-placeholder>Role</mat-placeholder>
      </mat-form-field>
      &nbsp;
      <br>
      &nbsp;
      <mat-form-field>
        <input [(ngModel)]="user.phoneNumber" matInput placeholder="Phonen Number">
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <input [(ngModel)]="user.email" matInput placeholder="Email">
      </mat-form-field>
      &nbsp;
      <br>
      &nbsp;
      <mat-form-field>
        <mat-select [(ngModel)]="user.gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
        <mat-placeholder>Gender</mat-placeholder>
      </mat-form-field>
      &nbsp;
      <br>
    </mat-card-content>
    <div>
      <button (click)="postUser()" mat-raised-button color="primary">Submit</button>
    </div>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Identifications</ng-template>
    <mat-card-content *ngFor="let ids of user.identifications">
      <mat-form-field>
        <mat-select [(ngModel)]="ids.type">
          <mat-option *ngFor="let idt of identificationTypes" [value]="idt">{{idt}}</mat-option>
        </mat-select>
        <mat-placeholder>Identification</mat-placeholder>
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <input [(ngModel)]="ids.value" matInput [placeholder]="ids.type">
      </mat-form-field>
      <div>
        <button (click)="postIdentification(ids)" mat-raised-button color="primary">Submit</button>
      </div>
    </mat-card-content>
    <button (click)="addIdentification()" mat-button>Add Identification</button>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Schools</ng-template>
    <mat-card-content *ngFor="let usc of user.userSchools">
      <mat-form-field>
        <mat-select [(ngModel)]="usc.school">
          <mat-option *ngFor="let sch of schoolList" [value]="sch">{{sch.name}}</mat-option>
        </mat-select>
        <mat-placeholder>School</mat-placeholder>
      </mat-form-field>
      <div>
        <button (click)="postUserSchool(usc)" mat-raised-button color="primary">Submit</button>
      </div>
    </mat-card-content>
    <button (click)="addUserSchool()" mat-button>Add school</button>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Student Classes</ng-template>
    <mat-card-content *ngFor="let studentClass of user.studentClasses">
      <mat-form-field>
        <mat-select [(ngModel)]="studentClass.class1" (selectionChange)="classSelected(studentClass, $event)">
          <mat-option *ngFor="let cs of classList" [value]="cs">{{cs.name}}</mat-option>
        </mat-select>
        <mat-placeholder>Class</mat-placeholder>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="studentClass.date_joined" matInput [min]="minDate"
               [max]="maxDate" [matDatepicker]="picker2" placeholder="Date Joined">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <div>
        <button (click)="postUserClass(studentClass)" mat-raised-button color="primary">Submit</button>
      </div>
    </mat-card-content>
    <button (click)="addUserClass()" mat-button>Add class</button>

  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>


</mat-vertical-stepper>
