<div class="mat-elevation-z8" xmlns="http://www.w3.org/1999/html">
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>

        <mat-menu #appMenu="matMenu" yPosition="above">
          <app-main-filter (click)="$event.stopPropagation();"></app-main-filter>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>filter</mat-icon>
        </button>
        &nbsp;

        Name
      </th>
      <td mat-cell *matCellDef="let row">{{row.first_name}} {{row.middle_name}} {{row.last_name}}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
      <td mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Gender
      </th>
      <td mat-cell *matCellDef="let row">{{row.gender}}</td>
    </ng-container>

    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Actions
        <nav>
          <button mat-icon-button>
            <mat-icon (click)="addUser()"
                      matTooltipPosition="above"
                      matTooltipClass ="primary-tooltip"
                      matTooltip="Add a new user">
              add_circle
            </mat-icon>
          </button>
        </nav>
      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-button [matMenuTriggerFor]="menu"
                class="showOnHover">
          <mat-icon
            matTooltipPosition="above"
            matTooltipClass ="primary-tooltip"
            matTooltip="more">
            more_vert
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="userDetails(row)">Details</button>
          <button mat-menu-item>Invoices</button>
          <button mat-menu-item>Classes</button>
          <button mat-menu-item>Schools</button>
          <button mat-menu-item>Identifications</button>
          <button mat-menu-item>Exams</button>
          <button mat-menu-item>Grants</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        appHoverStyle [condition]="true"></tr>
  </table>

  <mat-paginator #paginator
    [length]="dataSource !== undefined ? dataSource.userList.length : 0"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
