/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/

nav {
  position: absolute;
  right: 0;
}

table {
   width: 100%;
   overflow: auto;
   background-color: inherit !important;
 }

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0,0,0,0.1);*/
}

.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading {
  position: relative;
  z-index: 1000;
  cursor: wait;
}

.primary-tooltip {
  /*background-color: #3F51B5;*/
  /*font-size: xx-large;*/
  /*box-shadow: inset 0 0 12px #eeeeee;*/
}

.side_nav-tooltip {
  background-color: #3F51B5;
  font-size: x-large;
  box-shadow: inset 0 0 12px #eeeeee;
}

.spanSpacer {
  flex: 1 1 auto;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
  width: 6px;
}

.mat-table-sticky:first-child {
  /*border-right: 1px solid #e0e0e0;*/
  width: .5em;
}

/*::-webkit-scrollbar-track {*/
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  /*border-radius: 10px;*/
  /*background-color: #F5F5F5;*/
/*}*/

/*::-webkit-scrollbar-track {*/
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  /*background-color: #F5F5F5;*/
  /*border-radius: 10px;*/
/*}*/

/*::-webkit-scrollbar {*/
  /*width: 10px;*/
  /*background-color: #F5F5F5;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
  /*background-color: #c3664e;*/
  /*border-radius: 15px;*/
/*}*/

mat-menu:focus,
button:focus {
  outline: none;
}

html, body, mat-sidenav-container, app-main-nav {
  height: 100%;
  width: 100%;
  margin: 0;
}

mat-icon {
  cursor: pointer;
}
